<h1>Restaurants list</h1>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item list-group-item-action">
      <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-reset text-decoration-none" %>
    </li>
  <% end %>
</ul>
